<!DOCTYPE html>
<html>
<head>
    <title>Account details </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Détails du Compte</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary">Chercher</button>
        </form>
    
        {% if account %}
            <h2>Compte</h2>
            <p><strong>RIB:</strong> {{ account.rib }}</p>
            <p><strong>Solde:</strong> {{ account.balance }}</p>
            <p><strong>Date de Création:</strong> {{ account.creationDate }}</p>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
    </div>    
</body>
</html>
